<style>
div.container {
  text-align: center;
ul.myUL {
  display: inline-block;
  text-align: left;
</style>
<h1>
<p style="text-align: center;">
ARTICLES
</p>
</h1>
<div class="container">
<p>Every article published here is also available <a href="https://git.sr.ht/~alienagain/art-research/">in this repository</a>, they are easier to download for reading offline. There are also briefs of each one in the <a href="https://pixelfed.social/i/web/profile/604233816424002628">Pixelfed</a> account.</p>
</div>
<p><img 
    style="display: block; 
           margin-left: auto;
           margin-right: auto;
           width: 10%;"
    src="https://pxscdn.com/cache/avatars/604233816424002628/avatar_5iyea54.png" 
    alt="ilustraci
n de un mastodonte de estilo cartoon adorable mirando al cielo"> </img></p>
<!-- Como este bloque es de HTML, si queremos comentar algo lo haremos en formato HTML, y listo, no se ver
 en el resultado final -->
<!-- Usarmos <br> para hacer espacios en html -->
<p><br></p>
<div class="container">
<details>
<p><summary>A sustainable museum designed by children</summary> <br> Using a role play game in a classroom, groups of ten to eleven years old children discuss about their future using this prepared fiction setup, in which sustainability resources are meant to be used. Their goal is to design a neighborhood, relying on responsible technology and sustainability. This is a volunteer project as part of a collection of workshops for children, so they begin to wonder in a safe space about sustainable possibilities for the future. The whole project is driven by a local association of digital rights and a parents association of the children assisting the public school of an old, yet culturally relevant neighborhood.</p>
<p>One of the discussed projects is a Museum, but the museum designing arises some questions among the children. 
What sort of tech even needs a regular museum?
 one of them asks me. That makes me think that maybe they are not realizing either what a museum actually could be at its fullest or what sort of tech is commonly needed in a regular building.</p>
What do you think that makes sense to have in a Museum?
 I ask in return. They spend a while thinking about this, they agree about paintings, and sculptures, as well as lamps and LEDs so the visitors can enjoy the art. 
Okay!
 I reply 
Can you think of further art?
 They seem very confused so I help 
Is music art?
 One of them reply very quickly that it is, maybe he plays an instrument at home. 
What else? Let
s try
 I insist. They begin to say more things 
Are cartoons art? Or anime?
 I nod.</p>
And videogames?
Oh yes!
</p>
<p>I tell them about a bunch of museums and public libraries that are basically focused on that, in our own country (Spain) since we have a very interesting legacy of videogames.</p>
<p>They then began creating the concept of what a museum they would enjoy be. I tried to interfere the less possible, just answering questions about electronics, physics and things they might not know but they wonder about. And the museum resulting is very interesting, and might serve as an inspiration to actual curators and cultural researchers.</p>
<p>Their future and sustainable museum would grant access to both curious visitors and experimental artists. In the roof, the solar power panels maintain some basic electrical infrastructure (lights, headsets for music installations and similar things). There are also some small vegetable patches that serves as a self-consuming trait for the staff. A rain collector is attached to the roof as well, and its water is meant to be used in the vegetable patches. Natural creepers are connected to arduinos
 in the wall so to serve as touch sensitive buttons for the light or to operate basic exhibitions which requires it.</p>
<p>There would be a place for the exhibitions and a separate place for the artists which produce and experiment with art in the same building. They created a dedicated room in which recycled local material (such as papers, bottles, wood, tools and more) are stored and available for the artists to use.</p>
<p>While there are many things that would need to be taken into consideration on an actual building their ideas (which were projected in a fictional future which relied on them) they are workable sketches of things that can be used already. They are not using fantasy electrical resources, nor impossible tech. And yet they seemed very exited to have room for further art than paintings, and more importantly, the art experimentation room.</p>
<p>As explained in 
The city of care
, children of that age (ten to twelve) are able to map ideas and locations in their mind, sometimes in a way more complexity than we tend to attribute to them. In her research, the author explains how cars having such an importance in cities, make the streets way more dangerous, creating an obstacle for children to develop this ability. In a similar perspective, limiting their impact on cultural emplacements (such as museums) is limiting their ability to be useful and responsible of their cultural and artistic heritage. I
ve seen a lot of interesting ideas focused solely on children in several museums (for example the printing related activities to better understand Munch in Oslo
s Munch Museum, the artistic techniques approach workshops in the Caja Granada cube museum in Granada and other similar activities) and I tried to engage with those as an adult for curiosity. Many of those are fun an educational but are always limited to a fictional environment that doesn
t transcend further, or it
s extremely gamified. While that isn
t inherently bad, it
s actually dissociated from reality and maybe we are loosing a relevant points of view from them as we are not allowing them to participate or argue in an impactful way for their local museums or art topics they care about.</p>
<p>Sustainable technology is a way of creating resilient emplacements for cultural and artistic heritage, but more importantly this doesn
t only mean electronics and technical resources, it also means thinking of the artistic roles involved and how reusing can be part of the process. The children think of this as they were interested in creating a place people could experiment and reuse discarded stuff, but from the point of view of materialities studies, it makes sense that artists who are involved in working towards sustainability and resiliency as topics use public/open spaces and reusable resources for their artistic research. The children weren
t thinking of Enric Puig Punyet and his research about 
The broken bodies
 and understanding the objects under a certain context, they didn
t have in mind the work of Gilbert Simondon about the impact of technology and the use of it in society. That doesn
t mean they cannot come to the conclusion that recycling materials for art makes perfect sense, that a discarded paper with printed information of an old exhibition can be used to create a new art work, and furthermore they understand art in those terms, as something needed and obvious in their society, regardless the available tech resources.</p>
<p>In conclusion designing sustainable museums includes thinking about several questions further than solar panels and sustainable electric resources. It
s about asking questions, like they did, such as 
What can be considered art?
For whom are supposed to be the museums?
What does sustainability means?
 and, at the same time, understanding tech not as a main character in the way of art, but as a tool that can bend towards art and cultural needs depending on the situation.</p>
<p><em>1) This is because before playing the role play game, I made some demonstrations of alternative electronic resources and I showed them how plants can be used as a touch sensitive buttons using a couple of open electronics components.</em></p>
<p><em>2) CHINCHILLA, Izaskun; La ciudad de los cuidados; ISBN 978-84-1352-087-2</em></p>
<em>3) PUIG PUNYET, Enric; Los cuerpos rotos; ISBN 978-84-120992-8-7</em>
</details>
<br>
<details>
<p><summary>Feminism and textile art abstract</summary> <br></p>
<p>After the production of artworks during the Renaissance in which embroidery was required (such as Antonio Pollaiuolo
s San Juan Bautista tapestry) an embroidery practice division would arose: professional and domestic (1.). The domestic one would be left for women from the nobleness, and defined feminine manners and status. In the western culture during the XIV and XV s, an exclusion to women from professional embroidery due to art and textile guilds and brotherhoods was initiated, since they promoted sanctions and laws against women independent labor.</p>
<p>Despite this, domestic embroidery in those cases enlightened women artistic expressions in the intimate inner circles, although in a very bounded reflection due to the relationship between embroidery practice and social status. In fact, some women accused embroidery of being a social obstacle that avoided them to study, read, write and generally intellectually evolve as a womanhood due to the time and effort that embroidery needed and was socially requested from them.(2)</p>
<p>During the XV and XVII s. in Japan (Edo), among the rural areas and farmer
s prefectures Sashiko embroidery appeared. The reason behind this practice has its origin in the need of fixing and upcycling old fabrics and work clothes, as well as bed linen and regular clothes. The effort behind Sashiko was to achieve this without necessary gave up on aesthetics (symmetry and details). This work, and the transmission of its tradition would be passed up among women through their (female) relatives. Mothers, sisters, grandmothers would teach and continue the work and responsibilities behind Sashiko. Years later, Hitomezashi arose: a Sashiko
s type of embroidery that was more focused on aesthetics and decorations rather than fixing and maintaining old fabrics.(3) The rhythm behind its practice was also different, and both were predominately made by women. While the development of gender structures and artistic development in Japan were culturally distinct from the those in the western culture, the intersection of gender traditions and embroidery is clear and sounded. To this date, this type of embroidery is still known and practiced through the different prefectures and cities in Japan, and even got some its original meaning of fixing and upcycling back through some collectives, such as the sewing collective in Irregular Rythm Asylum (IRA) space (Shinjuku, Japan).</p>
<p>In Spain, the embroidery masters during the XIV and XV s. were remarkably related to religion as well as to family coat of arms, but in Granada, embroidery included gold geometrical icons, as well as vegetables and flowers.(4) During the XX s (specially young women) from the Granada province commonly worked in these sort of projects using (mostly) white, black and gold thread over tulle. Traditionally, these same women would do the same labor over regular, wood or linen fabric for their own trousseau before their weeding.</p>
<p>By the same S. in Germany, in The Bauhaus, a perfect environment to combine art-craft and modern art appeared (5). This was mostly thanks to Gunta St
lzl, who was unanimity chosen by students as the one responsible for the textiles and weaving section of the center. Following her, some (female) students will also gain importance in the modern textile art scene: Anni Albers, Otti Berger, Benita Otte and more. Their experiments towards contemporary art and textiles were suddenly interrupted by the Nazis and in general the fascism - to the point that some of them were endangering their lives, such as Berger who was killed in Auschwitz. Despite this fact, their efforts would set precedents in the contemporary art techniques towards textiles, weaving and embroidery. John Perrault would describe subsequent Lenore Tawney
s textile sculptures as a discontinuity in the divided line between artcraft and art(6). While her later work would change towards other non-textile techniques, Sheila Hicks, Claire Zeisler and other artists also kept experiment and using textiles and weaving and embroidery for their artistic projects.</p>
<p>In the eighties, women who were active in the feminist circles got interested in embroidery and weaving both for its connection with traditionally feminine artcrafts and its community driven value. Since many artists women were part of collaborative movements that claimed not only rights for women for also enlightened the power of communities vs individuals (such as W.A.R -Women in the Art Revolution- collective (7) ), embroidery would represent again a technique to embrace feminism from the artistic environments.</p>
1,2 - SHINER, Larry; The invention of art; ISBN 978-8449329920 3 - ROMO DESIGN; 2017. https://www.romordesigns.com/journal/2018/10/18/sashiko-the-art-of-japanese-embroidery 4 - LASAGA, Carmen Eisman; Algunos bordados Granadinos de los siglos XIX y XX . file:///home/paula/Downloads/eug,+29-43-1.pdf 5 - Gunta St
lzl; MoMA. https://www.moma.org/artists/5675; UTYENS, Dominic; BBC: Anni Albers and the forgotten women of the Bauhaus. https://www.bbc.com/culture/article/20180919-anni-albers-and-the-forgotten-women-of- the-bauhaus 6 - Smithsonian American Art Museum; On Lenore Tawney. https://americanart.si.edu/artist/lenore-tawney-6157 7 - GILSDORF, Ethan; Art New England; On W.A.R. https://artnewengland.com/ed_columns/women-art-revolution/
</details>
<br>
<details>
<p><summary>Photography and storytelling</summary> <br> Taking pictures have some sort of context further than the technical fact of operating the device you use and save those pics. Usually, when we take a picture we have some plans for those picstures: document a relevant moment, tell a story to others, remind something to yourself in the future
 There are many reasons to think of taking and keeping a picture. In any of those, we tend to focus on a singular element we want to portrait: if we are with friends and we want to remember that, we take a pic of them, if we are on a trip and get astonished by a landscape we try to capture that.</p>
<p>While sometimes we are happy with the pic our intuition allowed us to take, it
s very common to feel frustrated by the fact that the picture doesn
t represent faithfully what we want to communicate. Sometimes, this can be solved with a very little knowledge of technical and composition knowledge.</p>
<p>Storytelling is a relevant part of photography. There
s an Spanish photographer in Magnum (a recognised international photographic cooperative) called <a href="https://www.magnumphotos.com/photographer/cristina-de-middel/">Cristina de Middel</a> who creates fictional depictions of actual narratives she wants to tell. In an interview, she explains that every picture is a 
partial lie
 even those meant for journalism. According to her, every picture has the sight of the author, and therefore it tells a story only partially. In that way, she says she aims to be honest, and depict the fictional sight is very obvious, while telling a real narrative. She is not the only one who has a perspective about this. <a href="https://www.erwinolaf.com/art">Erwin Olaf</a>, a very talented photography storyteller, says in an interview about his work (which is mostly fictional or focused on feelings more than an actual narrative) that he rathers take several pictures and present them in a collection because a single pictures presents only one point of view, whil,e a whole narrative requires several points of views. He uses a lot of resources to make his art 
work
 but the most relevant is composition. For example, this picture from his series 
Grief
:</p>
<figure>
<img src="https://www.erwinolaf.com/static_live/upload/e/5/a/b/e5ab55e8f9adf2e3b6bcd37221a2d077_NL.jpg" alt="" /><figcaption>A man is kneeling in the floor, crying. He
s a young man dressed with a formal shirt and trousers, wearing a tie. He looks somehow angry and sad, and he
s looking at some point out of camera, to the left of the scene. The room is light, empty, looks like a 60
s decorated scene in the USA. It
s very plain, there are furniture and decorations, elegant, but doesn
t look like a home, more like an hotel.</figcaption>
</figure>
<p>The whole thing (colors, general image quality, light) is good, but the impact of the pictures resides in the composition. If you cut the picture and make the crying guy to be in the center, it
s going to be a good picture, but it doesn
t work the same. It
s even going to be a little bit stressful for a viewer. If you take a look, the guy is looking at something (probably just the floor or an irrelevant thing, as we do when we are very sad and cry) out of the camera sight, to the left of the picture. He is obviously having strong feelings and thoughts (well, he
s an actor, so he is sort of performing to have those) and, even though this thoughts and feelings are somehow 
ethereal
 they occupy space in the narrative. That
s right, it sounds crazy, but those <em>do</em> occupy space, and therefore you have to depict them. The author leaves an empty space (it has furniture alright, but there are no persons, no one who
s speaking or attending the guy, just space) and all that space is the room that those thoughts need to occupy for us to ask ourselves 
what
s going on?
. Think of the elements requires to tell this story: This man is sad and maybe angry at something, and he
s alone. He
s having some thoughts. Well, you need to put all those in place.</p>
<p>This actually also works for movies, when someone speaks, you need to leave some room for the 
voice
 so the person watching doesn
t feel unconfortable.</p>
<figure>
<img src="https://gitlab.com/terceranexus6/website/-/raw/master/public/images/image_explanation.jpg" alt="" /><figcaption>Dune (2021) take. Paul Atreides is thanking the imperial ecologyst about the suits. He
s the focus of the pucture, but he
s not in the center. He
s slightly in the right, and the ecologysr is blurred in the left.</figcaption>
</figure>
<p>Composition is cool because it makes many scenes work, even when taken with devices that have very low image quality. Some people intuitively create good compositions (they so called 
good eye
) but 
good eye
 can be trained.</p>
<p>That being said, understanding technical issues such as light, time, ISO and more helps creating the image you have in mind. When someone activates the automatic set of a camera, the camera will calculate how to create the 
perfect
 time/light ratio. But this 
perfect
 ratio, according to the camera, is creating a picture that it
s not dark nor burned. But sometimes a picture needs to be a little bit darker to work out, or you want to trade quality/time or light in order to achieve something else. Basically, when you take a picture, the light enters the camera receptor and that information is kept as a picture. If you are using a digital camera, this receptor is a sensor and if you are using an analig camera, this is the film. When a camera is a 
Reflex
 is means there
s a litle mirror on the inside that takes the picture and reflects it to the receptor. A pentaprism reflects the image when not shutting to the visor, so you are actually seen the final scene through the reflection. Thing is, before that some compact cameras had a regular visor that
s a straight clean glass, so you weren
t able to see the actual scene, just an slightly different version.</p>
<figure>
<img src="https://i.pinimg.com/originals/3b/c7/53/3bc7535d1b398266cbe006c054cb64d4.jpg" alt="" /><figcaption>dioram of a reflex system, the mirror reflects the light to the visor through the pentaprism and the receptor is behind the mirror.</figcaption>
</figure>
<p>Understanding this, makes everything makes sense. So, for example, if you take a picture faster, the light has less time to travel through the camera and therefore less information is recorded. Think of the light you allow to get into the camera as 
information
. The longer you let the light in, more information is allowed to enter. Although, if the surrounding is already very light, the required information for the camera to process arrives in faster, and then an excesive amount of light burns the picture. Some contemporary photography involves doing this on purpose (such as Julian Bar
Censura
 playing with Flash and overexposure), but it
s more ofan experiment and it can be harmful for the camera.</p>
<figure>
<img src="https://www.vincentborrelli.com/pictures/110236_2.jpg?v=1416504227" alt="" /><figcaption>Photobook cover of an overexposed portrait and the letters 
C E N S U R A
</figcaption>
</figure>
<p>Imagine you want to take a clear picture, but there
s not a lot of light (because, maybe, it
s an evening sight). You go and take a picture, but it
s darker than you want. Then, you make the time slower (let
s say half a second) and then the light is fine but you shake a bit (you don
t notice, but the camera does) and then it
s blurred and the pic is shaky. What an you do? A common mistake is to use the flash. THis is nice, as long as the object you want to take a picture of is close and the background is irrelevant (let
s say, some portraits for example). But that doesn
t work for a landscape, or if the portrait is in a bigger context and you want to take both the portrait and the background. You have two options:</p>
<p>1 - You find a place to put the camera so it
s steady without you holding it, and press the button while using this support.</p>
<p>2 - You add 
</p>
<p>ISO is basically the amount of information you want the camera to process. In a pic this is seen because the bigger the ISO, the bigger are those 
little grains
 that are in automatic pictures, for example those that are taken at night. Usually, when the day is clear and there
s a lot of light, you can use the correct amount of ISO so to take perfect shoots with a good digital camera: 100 ISO. Some analog will accept a max of 200 ISO or 400, even. Most decent digital cameras allows a range between 100 and 12800 ISO, being 100 the best 
grain quality
 and 12800 the biggest grain ever. The bigger the ISO, the less time you need for the image to work, in exchange of quality. There are certain tricks that can be done to correct a high ISO afterwards (even algorithms that sort of 
complete
 the lost information based on the rest of the image) but a really nice part of photography is learning about compromising some elements in exchange for others to make a picture work in the camera. There are very good pictures that are blurry and shaky and even so are amazing. This took me many years to realize: in those pictures the relevant thing is the moment.</p>
<p>One of my favorite pictures of a trip is this one:</p>
<figure>
<img src="https://pxlmo.com/storage/m/_v2/467333828817703520/3c6c7d1ab-ede048/Bk2dQRVroW4X/jku7uW98lEVReJRPSW3jmDBcyllDgpSZtwqV2aPx.jpg" alt="" /><figcaption>A blurry beach scene</figcaption>
</figure>
<p>This is a picture of a beach, some km away from the city of Reykjavik, Iceland. It hasn
t been edited at all. Despite of the looks, this was taken at 3 am in the morning, December. When I took the picture, it was pitch dark, so much I didn
t even know the ocean was that close. We were sitting waiting for an Aurora Borealis to show up and I heard some waves. I was curious so I placed the camera in a rock and used eight seconds straight for the pic to be taken using a regular amount of ISO (1000 I think) and waited. When I saw the pic I suddenly realized that: we were alongside the ocean and there were many clouds. I love this picture ever since, and it
s blurry and shaky.</p>
<p>There
s another relevant element that usually makes a picture stand-up when used alongside other techniques such as narrative: contrast. This is relevant and doesn
t work the same when black&amp;white photography than in color. Black and white tries to make a point using the differences of darker and lighter tones (so, for example, red elements are seen black, so they are taken into consideration as black, while in a color picture red should be used in contrast with blue or yellow maybe, depending on the situation). Henry Wessel is a good example of black and white contrast, he uses this to tell something.</p>
<figure>
<img src="https://www.mu-inthecity.com/sites/default/files/articles/henry-wessel-fondation-a-06.jpg" alt="" /><figcaption>woman lying in the floor, speakin on the phone. She
s wearing dark clothes, while the floor is lighter</figcaption>
</figure>
<figure>
<img src="https://files.artbutler.com/image/2740/w_1120_h_1120/5ddc3797eebb4e64.jpg" alt="" /><figcaption>Kids playing on the waves of a beach. In contrast with the sea, their skin look darker</figcaption>
</figure>
<p>These pictures look good because of the composition and the contrast. Probably, if those were taken in color, they wouldn
t be that good. Some black and white photographers that worked pretty good found issues when trying to comply to colors when color photography became popular.</p>
<p>We
ve spoke about composition, color, and technique, as well as its relationship with storytelling. Now the interesting part about this, from the perspective of curating and activism: why diversity is a strong thing to work towards to in photography?</p>
<p>Going back to Cristina de Middel
s words, point of views are the most relevant part of photography storytelling, minding that point of view basically defines the artwork itself. Right now, taking pictures has a different meaning and a different reception also in the subjects that are being photographed. Years ago, some people weren
t able to have cameras or being taken a picture, or it was rare. It became so useful that, right now being photographed is usually more of a nuisance that a privilege, and the photographers have to take this into consideration.</p>
<p>Cristina Garc
a Rodero (Magnum) started taking pictures when she was a teenager. She started traveling from one countryside town to another, taking pictures of the daily life of the people. It was an important labour also because by that time, Spain was a dictatorship and the information formally displayed by the media was censored and manipulated. Her documentary through different towns allowed the viewers to see, afterwards, the reality of the countryside towns in those years. She was a nice, happy teenager asking for pictures and she said that people found her funny and nice so they would allow her to take pictures easily. As she grew up, she became used to talk to people, ask for pics, document. This perspective is different and way more interesting than what a staged picture of the situation would have shown. Her perspective was funny, sometimes, as well as dramatic and critical.</p>
<p><img src="https://3.bp.blogspot.com/-mrMGbLSoJpE/WJW_XMpYcpI/AAAAAAAAPp0/3DX39duWL6QUZT4ztKn5z4z12-CR2VrbQCLcB/s1600/CGCmanstreet.jpg" alt="A person dressed very dramatic in black and heels in the middle of a typical andalusian white street" /> <img src="http://vein.es/wp-content/uploads/2018/09/PAR298208.jpg" alt="women with their faces covered in black fabric, wearing black dresses, holding on each other
s arms" /> <img src="https://i.pinimg.com/originals/f3/3d/30/f33d30bfd1c46f98cf08a7d72342c832.png" alt="A man dressed as a roman militar is smoking while resting in the wall. IN front of him, a dramatic priest is looking up while holding a world globe and a white dove is flying over him. A second priest is happily dancing with a wine cup in his hand and a wine bottle in his other hand alongside" /></p>
<p>She is strongly inspired by the students revolution in 1968, this will impact her work.</p>
<p>Nan Goldin starts taking pictures of the LGBTIQ underground also as a teenager. She also approaches prostitutes and women of all kinds. She portraits all of this as it is, as she saw it.</p>
<p><img src="http://2.bp.blogspot.com/-XHX5QhSms_k/T0AEbb8pZ6I/AAAAAAAAHdU/GgA5vdGXi8c/s1600/NAN-3.jpg" alt="A couple of drag queens are looking directly to the camera, they seem to be in a cab" /> <img src="https://i.pinimg.com/564x/a2/cb/bc/a2cbbc15a9031760ca03d4da0804d3ab.jpg" alt="A couple of drag queens are dressing up. One of them is showing her back, the other is looking at the camera, chest is nude" /> <img src="https://www.allcitycanvas.com/wp-content/uploads/2018/03/goldin-portada.jpg" alt="A woman in the bed is puzzled, looking at a man who is smoking minding his business nude" /> <img src="https://i.pinimg.com/736x/69/9a/27/699a2744389b4021cba30ffec5fb78b3--documentary-photographers-famous-photographers.jpg" alt="A man is kissing another man
s forehead, the second one looks sick, it
s a hospital bed" /> <img src="https://www.featureshoot.com/wp-content/uploads/2016/05/DSC_2873-Edit-Edit.jpeg" alt="A little girl is showing her face out of a bath tub. There are also a couple of adult legs, the person is out of the camera view" /></p>
<p>She uses flash and agressive light a lot, which goes alongside her topics (but also required, since she worked mostly at night). The storytelling, her point of view, is violent sometimes and very representative.</p>
<p>Gerda Taro was a photojournalist of war between the 20s and the 30s. She depicted war, but her point of view had space to depict those who were sometimes ignored by her male colleages.</p>
<p><img src="https://s3.amazonaws.com/icptmsdata/t/a/r/o/taro_gerda_596_1992_462112_displaysize.jpg" alt="Republican militiawomen looking at a paper" /> <img src="https://s3.amazonaws.com/icptmsdata/a/p/a/c/capa_robert_975_1992_470288_displaysize.jpg" alt="Woman with bandaged feet sitting next to sleeping child" /></p>
<figure>
<img src="https://ichef.bbci.co.uk/news/976/mcs/media/images/71818000/jpg/_71818695_hrmalagarefugees.jpg" alt="" /><figcaption>refugees looking distress, the center is an old woman, surrounded by kids</figcaption>
</figure>
<p>Representing the women as women in their own context is not something entirely entitled to photography. One of my favorite painters, Cecilia Beaux, already did this in paintings, defying the acceptance in the art environment, as well as Mary Cassat.</p>
<figure>
<img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2F1.bp.blogspot.com%2F-CpXj_3OrgQQ%2FT2ppt7veraI%2FAAAAAAAAAJY%2Fr9-vlQJZLYM%2Fs1600%2FMary_Cassatt_003.jpg&amp;f=1&amp;nofb=1&amp;ipt=34c9569830018f481d3122c3da140f755f4440d2490233e3aa46b90a29d1fb2f&amp;ipo=images" alt="" /><figcaption>oil painting of a kid seated in a coach in a very informal way</figcaption>
</figure>
<figure>
<img src="http://www.japantimes.co.jp/wp-content/uploads/2016/06/p7-outside-cassatt-a-20160629.jpg" alt="" /><figcaption>A little kid is holding her mom
s face, oild paining</figcaption>
</figure>
<figure>
<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Facp-ican.s3.us-west-2.amazonaws.com%2Fwp-content%2Fuploads%2F2021%2F05%2FBreakfast_in_Bed_1897_by_Mary_Cassatt_Huntington_Library-1536x1220.jpg&amp;f=1&amp;nofb=1&amp;ipt=da73c469401ab9a1e9204eca7de78de4810964507e5c03c487d6157ecb3a4a0a&amp;ipo=images" alt="" /><figcaption>A young woman is inside bed, holding a children who
s slightly more awake than her</figcaption>
</figure>
<figure>
<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Flive.staticflickr.com%2F8216%2F8387760901_98ac8cb647_z.jpg&amp;f=1&amp;nofb=1&amp;ipt=7fb59eb13c66595bac1a66ed011dfc3e0040e7cda8e6f1c781b0fbd3f121617a&amp;ipo=images" alt="" /><figcaption>A woman is reading a book</figcaption>
</figure>
<p>Martha Rostler translate this language into videos, and use it as a language to describe patriarchy issues. She also created some photography collages to depict neoliberalism in the USA.</p>
<p><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.phaidon.com%2Fresource%2F042-a-martha-rosler.jpg&amp;f=1&amp;nofb=1&amp;ipt=639769c63554a74540ffd47f2cf3518601aed91e617bccc1fc2f7ea54303e995&amp;ipo=images" alt="shoot fo one of her most famous videos" /> <img src="https://i.pinimg.com/736x/c5/e3/55/c5e355110ea10339a5b2aa743ad733ba.jpg" alt="A family is lying on the bed, relaxing, but it
s edited so to be over a bombed room" /></p>
<p>In her work 
Como la casa m
, one of my favorite photography books ever, Laura C. Vela works alongside her friend Xirou, a migrant from China in Madrid, Spain. She takes pictures based on a little diary that Xirou writes in spanish. While some of the pictures are powerful by their own, the whole collection is what males sense of them. This perspective is inspired by a woman
s written work and translated into a woman
s visual work.</p>
<p><img src="https://format.creatorcdn.com/c2283e32-d83e-4ea8-b8eb-7ed2a0e591e0/0/0/0/0,0,800,1200,570,855/0-0-0/c8d9b0b9-fdbf-43a2-b9a9-ec969751b5bb/1/2/03.jpg?fjkss=exp=2007770324~hmac=ffc7c859b4b02923b97024b7f8770089e7ad16bf9c1ccdd91a39dea0b233ba8e" alt="A portrait of Xirou with her eyes closed" /> <img src="https://format.creatorcdn.com/c2283e32-d83e-4ea8-b8eb-7ed2a0e591e0/0/0/0/0,0,802,1200,570,852/0-0-0/fd668987-7a44-4913-aeb8-75d3ee4339f0/1/2/07.jpg?fjkss=exp=2007770324~hmac=e52e2b4ec4765145dfdb39aed90769c50bf84eebaf3f1d399b5a5b559ef6eccd" alt="Xirou is walking while some doves are flying in front of her" /> <img src="https://format.creatorcdn.com/c2283e32-d83e-4ea8-b8eb-7ed2a0e591e0/0/0/0/0,0,800,1200,570,855/0-0-0/d68a66f3-87f5-40cb-9b8d-507d45fa7fdf/1/2/27.jpg?fjkss=exp=2007770324~hmac=ffc7c859b4b02923b97024b7f8770089e7ad16bf9c1ccdd91a39dea0b233ba8e" alt="A detail of a hand holding oranges" /></p>
<p>In the case of Como la casa m
a, the shape of the photobook itself is also a relevant element in the storytelling (in order to read the diary extracts you have to put the pages in front of a light and it
s not completely cut). But the idea of using the pictures as a depiction of the diary in a way that reflects more of a feeling that an specific moment is something that can work among them because they understood each others perspective.</p>
<p>These sort of perspectives are usually lost when women and minorities are left away. Photography, as well as painting and other visual arts, give a chance of communicating and telling narratives that are compliated to describe with words, therefore is a strong tool for activism and describing different contexts. Maura Reilly is an art curator focused on the topic of feminism and diversity. During the pandemic she <a href="https://www.youtube.com/watch?v=epgm7dYRias">invited several panelists to talk about this issue</a>, and expose the need of diversity in art storytelling and visual language.</p>
With the same tool (a camera) and the same technique (timing, light, composition, color) the storytelling can be completely different and tell a completely different thing and show a completely different perspective of the world. Taking pictures isn
t just a matter of holding a camera and focusing, it
s mostly about understanding how do you want to interact with the world and find the way to translate that into a picture or a collection of them. This is why diversity and intersections are required so to understand interactions with the world in a way that
s sometimes more related to a feeling that a faithful objective description.
</details>
<p><br></p>
<p>Did you realize? this site loads way quicker that regular ones. The reason is: simplicity. If you are wondering how is it made check <a href="https://git.sr.ht/~alienagain/plumaweb">this tutorial</a>.</p>
</div>
